ul.t13ne-searchbox-ul{
	display:none;
}
li.t13ne-seacrhbox-li{
	display: 'flex';
	justify-content: 'flex-start'; 
	align-items: 'center';
	flex-wrap: 'nowrap';
}
span.t13ne-searchbox-li-span {
	border: '3px solid lightgrey';
	padding: '5px';
	border-radius: '7px';
	margin-right: '10px';
font-size: '80%'; }
div.t13ne-searchbox-div{
	border: '3px solid lightgrey';
	padding: '5px';
	border-radius: '7px';
	margin-right: '10px',
	font-size: '80%' }
div.t13ne-searchbox-flex-div{
	display: 'flex';
	align-items: 'center';
}
