div.entry-content>section.t13ne-statblock {margin: auto;margin-top: 0;padding-top: 0;margin-bottom: 1.25em;}
div.t13ne-statpair{display:block; width:100%;font-size:2.76vh; border:3px outset rgba(127,127,127,0.4);box-sizing: border-box; text-align:center;height:4.2em; transition: height 50ms linear; padding:0;margin:0;}
div.t13ne-statpair:hover, div.t13ne-statpair:focus,div.t13ne-statpair:focus-within{max-height:auto; height:auto;transition:height 50ms linear;}
div.t13ne-statpair>div *{border:0 none transparent;font-size:2.76vh;}
div.t13ne-statpair>div{display:inline-block;width:48%; min-width:180px; border:0 none transparent;
    overflow-y: hidden;
    text-overflow: ellipsis;
    min-height:2em;
    height:4em;
    max-height: fit-content;
transition:height 200ms linear;}
div.t13ne-statpair>div:hover,div.t13ne-statpair>div:focus{overflow-y: scroll; min-height: fit-content; height: auto;}
div.t13ne-statpair>div:hover,div.t13ne-statpair>div:focus,div.t13ne-statpair>div:focus-within{overflow-y: scroll; min-height: fit-content; height: auto;max-height:fit-content !important; transition:width 300ms linear;}
dl.t13ne-statpair,dt.t13ne-statpair, dd.t13ne-statpair{width:auto;display:inline-block;}
dt.t13ne-statpair{max-width:25%;}
div.t13ne-statpair>div>span>div{display: inline !important;width: auto;height: auto;margin: 0;padding: 0;float: left;}
div.t13ne-statpair>div>span>div>details{display: inline !important;}
div.t13ne-statpair>div>span>div>details>summary:first-of-type{display: inline-list-item !important;}
div.t13ne-statpair ul,div.t13ne-statpair ol,div.t13ne-statpair{list-style-type: none;padding:0.11em;margin:0; width:auto;}
div.t13ne-statpair input{display:inline-block;width:fit-content;float: right;}
input.t13ne-joined::before, span.t13ne-facet-joined>input:: before;{content:"Joined"; display:inline-block;margin-top:0.4em;background-color:rgba(255,255,255,0.3);}
.t13ne-statpair{width:100%; border:1px solid rgba(127,127,127,0.4); font-size:0.8em; vertical-align: text-top;margin:0;box-sizing: border-box;}
.t13ne-statpair .t13ne-left{padding:1em; width:47%; display:inline-block;border-right:1px solid rgba(127,127,127,0.4); vertical-align:text-top; margin:0;}
.t13ne-statpair .t13ne-right{padding:1em; width:47%; display:inline-block;border-left:1px solid rgba(127,127,127,0.4); vertical-align: text-top; margin:0;}
.t13ne-hexagrams{width:100%; border:1px solid rgba(0,0,0,0.3);vertical-align:top; font-size:0.99em;position:relative; top:0;left:0;box-sizing: border-box; }
.t13ne-hex-entity {display: inline; position: relative; font-size:  3em;top: 0;left: 0;text-shadow: 3px 3px 4px rgba(255,144,111,0.8);}
.t13ne-hex-number{display:block; position:relative; font-size:1.6em;    top: -32px;
    left: 1.7em;
    height: 0.5em;
    text-shadow: 3px 3px 4px rgba(255,144,111,0.8);
}
.t13ne-changing{text-align:center;}
.t13ne-hexagrams .t13ne-changinglines{width:100%; box-sizing:border-box; border:1px solid rgba(127,127,127,0.4);font-size:1.1em; text-align:left; text-align-last:left;}
strong.t13ne-changing{display:block;text-align:center;text-align-last: left;width:100%; font-size:1.2em;}
.t13ne-hexagrams .t13ne-changinglines ul.t13ne-changinglines, ul.t13ne-annex-profs{font-size:0.91em;list-style-type: none;margin:2px;padding:4px; vertical-align:text-top;}
.t13ne-hexagrams .t13ne-changinglines ul.t13ne-changinglines li{vertical-align:middle; display:block; width:100%; height:auto; border:1px solid rgba(127,127,127,0.4);}
.t13ne-hexagrams strong{font-variant:small-caps;font-weight:bolder;display: inline-block; font-size: 1.2em;}
.t13ne-hexagrams .t13ne-changinglines ul.t13ne-changinglines strong.t13ne-changing-strong{
    height:100%;
    max-height:5em;
    min-height:2em;
    vertical-align: top; width:32%; min-width:2.5em; font-size:2.3vh;}
.t13ne-hexagrams .t13ne-gain{display:inline-block; max-width: 62%;
    vertical-align: middle;
    line-height: 1.7em;
    padding: 0.2em;
    margin: 2px;}
.t13ne-hexagrams .t13ne-hexagram{display:inline-block; height:100%; width:48%; vertical-align:top; margin:4px; border:1 px solid rgba(0,0,0,0.1); box-shadow:1px 1px 2px 2px rgba(127,127,127,0.4);text-align:justify; text-align-last: left; padding:1em;}
.t13ne-hexagrams .t13ne-hexagram h2{font-size:6em; font-weight: bolder; padding:0; margin:4px; text-align:center;width:100%; color:rgba(0,0,0,1); text-shadow: 3px 2px 4px rgba(127,127,127,0.4); height: 15vh;}
.t13ne-hexagrams figure.t13ne-hexagram{width: 100%;}
.t13ne-annex .t13ne-statblock, .t13ne-annexlist .t13ne-statblock{display:none;}
figure.t13ne-trigram>h4{padding: 0;margin: 0;}
h3.t13ne-tri-entity {padding: 0,margin: 0; display: inline; text-shadow: 3px 3px 4px rgba(255,144,111,0.8);}
section.t13ne-statblock summary, section.t13ne-statblock strong{margin:0;}*/