section.t13ne-type-prof { padding: 0.6em; }
section.t13ne-type-prof>* {background-color: rgba(255,255,255,0.24);}
section.t13ne-type-prof>details>summary>strong{display: inline;}
section.t13ne-type-prof>details>summary>strong.t13-prof-name>a{display: inline; color: black;}
section.t13ne-type-prof>details>summary>strong.t13-prof-name>a>aside.t13ne-geometry{display: inline;}
