dl.t13ne-boon-container{display:inline-block; font-weight:normal; padding:0.23em; vertical-align:text-bottom;border: 1px inset rgba(127,127,127,0.4);}
dl.t13ne-boon-container dt,dl.t13ne-boon-container dd{display:inline-block; font-variant:small-caps;margin:0; min-height: 3.6vh;
    vertical-align: baseline; padding-right:0.23em;}
dt.t13ne-boon-boon-head,dd.t13ne-boon-boon{ font-weight:bolder; font-size:115%;}
dt.t13ne-boon-value-head,dd.t13ne-boon-value-value{font-weight:normal; font-size:80%;}
dt.t13ne-boon-score-head,dd.t13ne-boon-score-value{font-weight:bold; font-size:90%;}
dt.t13ne-boon-draw-head,dd.t13ne-boon-draw-value{font-weight:bolder;font-size:100%;}
dl.t13ne-boon-container.t13ne-compact dd.t13ne-boon-value-head,
dl.t13ne-boon-container.t13ne-compact dd.t13ne-boon-score-head,
dl.t13ne-boon-container.t13ne-compact dd.t13ne-boon-draw-head{display:none;}
dd.t13ne-boon-value-value::before{content:"{";}
dd.t13ne-boon-value-value::after{content:"}";}
dd.t13ne-boon-score-value::before{content:"(";}
dd.t13ne-boon-score-value::after{content:")";}
dd.t13ne-boon-draw-value::before{content:"[";}
dd.t13ne-boon-draw-value::after{content:"]";}

span.t13ne-boon>details.t13ne-boon{display: inline;}
span.t13ne-boon>details.t13ne-boon[open]{display: inline-block;width: 100%;}
span.t13ne-boon>details.t13ne-boon[open]>summary{display: list-item; margin-left: auto; margin-right: auto; text-align: center;width: 100%;}
span.t13ne-boon>details.t13ne-boon>summary{display:list-item;}
