
details.t13ne-facet[open]{display:inline-block;padding:0.3em;width:100%; max-width:100%;height:auto; max-height:260px; overflow:auto;}
details.t13ne-facet{display:inline-block; min-width:4em; width:auto;}
details.t13ne-facet-suit-details{display:inline-block; width:fit-content;}
details.t13ne-facet-suit-details[open]{display:inline-block; width:min-content;}
summary.t13ne-facet-suit-summary{display:inline;}
.t13ne-facets-facet-aspect{font-size:97%;}
.t13ne-facets-facet-aspect details{font-size:115%;}
ol.t13ne-facets-facet-aspect{padding: 0em;
	text-align-last: left;
	text-align: left;
	list-style-type: decimal;
    list-style-position: outside;
    margin:0px;

}
ol.t13ne-card-figure .t13ne-facets-facet-aspect, ol.t13ne-emotions{padding: 0em;
	text-align-last: left;
	text-align: left;
	list-style: none;
   display:inline-block;width:auto;min-width:100%; max-width: 100%; margin: 0px !important;padding:0px; margin-inline-start:0px;}
ol.t13ne-facets-facet-aspect li.t13ne-facets-facet-aspect{padding:0.1em;text-align:left;text-align-last: left;margin:0px 0px 1.2em 0px !important;}
details.t13ne-facet-short summary article section {font-size:95%; display:block; background-color:red;}
details.t13ne-facet-short summary article section header{font-weight:bolder; font-size:110%; display:inline-block;}
details.t13ne-facet-short summary article section main{font-weight:normal: font-size:100%; display:inline-block;}
section.t13ne-facet-aspect,section.t13ne-facet-aspect-section {display:block; font-size:1.01em;}
section.t13ne-facet-aspect header,section.t13ne-facet-aspect-section header{font-weight:bolder; font-size:108%; display:inline-block; margin-top:0.8em;margin-right:0.25em;}
section.t13ne-facet-aspect main{font-weight:normal: font-size:100%; display:inline-block; margin-left:0.25em;}
section.t13ne-facet-aspect-section main, main.t13ne-hitch-text-section-main {font-weight:normal: font-size:95%; display:block; margin-left:0.25em;}
section.t13ne-facet-aspect footer,section.t13ne-facet-aspect-section footer{font-weight:normal: font-size:95%; display:inline-block; margin-left:0.25em;}
section.t13ne-facet-aspect main.t13ne-textbox-description{font-weight:normal; 	font-size: 95%; font-style:italic;}
ul.t13ne-facet-list>li ul.t13ne-facet-aspect>li, ul > li > details > details > ul, {display:block; margin:0.2rem; list-style: square outside;}
details.t13ne-facet-full,details.t13ne-facet-full details,ul.t13ne-facet-list li  details.t13ne-facet-fancy details{display:inline !important;position:initial; margin: 0; padding: 0.2em; margin-left: 2em;}
details.t13ne-facet-full>summary>details{margin: 0;margin-left: 0.15em; display: inline-block;}
details.t13ne-facet-full p, details.t13ne-facet-fancy p{padding:0.2em;line-height:1.1; margin: 0; margin-bottom: 0.3em;}
details.t13ne-facet-full [open],details.t13ne-facet-full [open] details, ul.t13ne-facet-list li  details.t13ne-facet-fancy [open] details{display:inline-block !important; border:0 none transparent;}
p.t13ne-emotions {display:block;}
ul.t13ne-emotions  {list-style: none;display:inline-block;width:auto; max-width: 76%; margin: 1em;padding:0px;}
.t13ne-emotions .t13ne-output{display:block;  width:auto; margin:2px; margin-left:2em; padding:0; font-weight:normal;}
.t13-card-figure .t13ne-emotions .t13ne-output{display:block;  width:auto; margin:0; margin-left:0.2em; padding:0; font-weight:normal;}
.t13ne-positive-emotions .t13ne-output {background-color:rgba(199,189,255,0.8);color: rgba(19, 4, 61, 0.8);}
.t13ne-positive-emotions .t13ne-output .t13ne-emotion-name{display:inline-block;  font-weight:bolder; text-shadow: -2px 2px 5px rgba(199,189,255,0.8), 2px 2px 5px rgba(199,189,255,0.8), 2px -2px 5px rgba(199,189,255,0.8), -2px -2px 5px rgba(199,189,255,0.8) !important; font-size:120%; padding:0.4em;}
.t13ne-negative-emotions .t13ne-output {background-color:rgba(255,189,199,0.8); min-width:auto; max-width:100%;color:rgba(61,19,4, 0.8);}

.t13ne-negative-emotions .t13ne-output .t13ne-emotion-name{min-width:fit-content;display:inline-block;font-weight:bolder;text-shadow: -2px 2px 5px rgba(255,189,199,0.8), 2px 2px 5px rgba(255,189,199,0.8), 2px -2px 5px rgba(255,189,199,0.8), -2px -2px 5px rgba(255,189,199,0.8) !important; float:left;  font-size:120%; padding:0.4em;}
.t13ne-output .t13ne-emotion-description{display:inline-block;width:calc(100%-3.5em)!important; padding: 0.52em;margin:auto; color:rgba(255, 255, 255, 0.9);}


.t13ne-one-card-emotion::before{display:inline-block;float:left;content:" 1 Card "; min-width:3em; min-height:3em;background-image: url("../../images/1card.svg");background-repeat:no-repeat;background-position: left top; margin-left:0em; padding:0.5em; font-weight:bolder;}
.t13ne-two-card-emotion::before{display:inline-block;float:left;content:" 2 Cards "; min-width:3em; min-height:3em;background-image: url("../../images/2cards.svg");background-repeat:no-repeat;background-position: left top; margin-left:0em;  padding:0.5em; font-weight:bolder;}
.t13ne-three-card-emotion::before{display:inline-block;float:left;content:" 3 Cards "; min-width:3em; min-height:3em;background-image: url("../../images/3cards.svg");background-repeat:no-repeat;background-position: left top; margin-left:0em;  padding:0.5em; font-weight:bolder;}
.t13ne-positive-emotions .t13ne-output::before{ text-shadow: -2px 2px 5px rgba(199,189,255,0.8), 2px 2px 5px rgba(199,189,255,0.8), 2px -2px 5px rgba(199,189,255,0.8), -2px -2px 5px rgba(199,189,255,0.8) !important;}
.t13ne-negative-emotions .t13ne-output::before{ text-shadow: -2px 2px 5px rgba(255,189,199,0.8), 2px 2px 5px rgba(255,189,199,0.8), 2px -2px 5px rgba(255,189,199,0.8), -2px -2px 5px rgba(255,189,199,0.8) !important;}
