div.t13ne-dice{font-size:2.5vh; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; display:inline-block;}
div.t13ne-dice>span.t13ne-average::before{content:"("; padding-left:0.6em;font-weight:bolder;vertical-align: top;}
div.t13ne-dice>span.t13ne-average{font-size:95%;font-weight:bolder;}
div.t13ne-dice>span.t13ne-average::after{content:")";padding-right:0.6em;font-weight:bolder;vertical-align: top;}
div.t13ne-dice button.t13ne-roll-dice{transition: background 350ms ease-in-out;
    background: #0073aa;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 2.4vh;
    font-weight: 700;
    line-height: 16px;
    outline: none;
    padding: 0.36rem;
    text-decoration: none;
    vertical-align: bottom;}
div.t13ne-dice>span.t13ne-die{font-size:2.5vh; font-weight:bold;}
span.t13ne-die{font-size:1em; font-weight:bolder;}
span.t13ne-main-die{font-size: 1.2em; font-weight: bolder;}
span.t13ne-lesser-die {font-size: 0.99em; font-weight: bold;}
span.t13ne-greater-die {font-size: 1.05em; font-weight: bolder;}