<html><head></head><body><table><thead><tr><th>Archetype</th><th>Personality</th><th>Core</th><th>Important Handicap</th></tr></thead>
<tbody><tr><td>Actor</td><td>Mimic</td><td>Pretender(Idol)</td><td>Impoverished</td></tr>
<tr><td>Addict</td><td>Reaper</td><td>Consumer</td><td>Dependence</td></tr>
<tr><td>Advocate</td><td>Guard</td><td>Sensor</td><td>Duty</td></tr>
<tr><td>Alchemist</td><td>Smith</td><td>Master</td><td>Madness</td></tr>
<tr><td>Amazon</td><td>Hero</td><td>Enhancer</td><td>Scarred</td></tr>
<tr><td>Android</td><td>Mimic</td><td>Worker</td><td>Taboo</td></tr>
<tr><td>Angel / Fairy Godmother</td><td>Saint</td><td>Preacher</td><td>Devotion</td></tr>
<tr><td>Architect</td><td>Smith</td><td>Doctor</td><td>Confined</td></tr>
<tr><td>Artist</td><td>Rake</td><td>Crafter</td><td>Impoverished</td></tr>
<tr><td>Assassin</td><td>Vandal</td><td>Attacker</td><td>Vague</td></tr>
<tr><td>Athlete</td><td>Gladiator</td><td>Poser</td><td>Taboo</td></tr>
<tr><td>Avenger</td><td>Vandal</td><td>Aggressor</td><td>Lament</td></tr>
<tr><td>Bar Staff</td><td>Shaman</td><td>Greeter</td><td>Confined</td></tr>
<tr><td>Beggar</td><td>Reaper</td><td>Prevailer</td><td>Impoverished</td></tr>
<tr><td>Brute</td><td>Beast</td><td>Attacker</td><td>Fear</td></tr>
<tr><td>Builder</td><td>Smith</td><td>Worker</td><td>Offensive</td></tr>
<tr><td>Bully</td><td>Vandal</td><td>Barber</td><td>Defensive</td></tr>
<tr><td>Burglar</td><td>Reaper</td><td>Master</td><td>Persecuted</td></tr>
<tr><td>Captain</td><td>Scout</td><td>Dominator</td><td>Duty</td></tr>
<tr><td>Child</td><td>Scout</td><td>Consumer</td><td>Vulnerable</td></tr>
<tr><td>Chimera</td><td>Vandal</td><td>Prevailer</td><td>Malformed</td></tr>
<tr><td>Clown</td><td>Deviant</td><td>Joker</td><td>Exposed</td></tr>
<tr><td>Companion</td><td>Mundane</td><td>Significator</td><td>Devotion</td></tr>
<tr><td>Con Artist</td><td>Deviant</td><td>Greeter</td><td>Vague</td></tr>
<tr><td>Crime Fighter</td><td>Guard</td><td>Pretender(Saint)</td><td>Duty</td></tr>
<tr><td>Damsel</td><td>Saint</td><td>Cheater</td><td>Vulnerable</td></tr>
<tr><td>Destroyer</td><td>Vandal</td><td>Aggressor</td><td>Paranoia</td></tr>
<tr><td>Detective</td><td>Sleuth</td><td>Greeter</td><td>Dependence</td></tr>
<tr><td>Dilettante</td><td>Rake</td><td>Master</td><td>Apathy</td></tr>
<tr><td>Don Juan</td><td>Rake</td><td>Phoenix</td><td>Madness</td></tr>
<tr><td>Dragon</td><td>Reaper</td><td>Traveller</td><td>Fear</td></tr>
<tr><td>Engineer</td><td>Smith</td><td>Doctor</td><td>Confined</td></tr>
<tr><td>Exorcist</td><td>Shaman</td><td>Dominator</td><td>Taboo</td></tr>
<tr><td>Enchantress</td><td>Idol</td><td>Doctor</td><td>Doomed</td></tr>
<tr><td>Farmer</td><td>Mundane</td><td>Worker</td><td>Stagnation</td></tr>
<tr><td>Father</td><td>Guard</td><td>Dominator</td><td>Devotion</td></tr>
<tr><td>Femme Fatale</td><td>Deviant</td><td>Sensor</td><td>Lament</td></tr>
<tr><td>Flirt</td><td>Rake</td><td>Doctor</td><td>Exposed</td></tr>
<tr><td>Fool</td><td>Sphinx</td><td>Joker</td><td>Loss of sense</td></tr>
<tr><td>Forester</td><td>Mundane</td><td>Attacker</td><td>Confined</td></tr>
<tr><td>Gambler</td><td>Reaper</td><td>Wielder</td><td>Taboo</td></tr>
<tr><td>General</td><td>Leader</td><td>Aggressor</td><td>Paranoia</td></tr>
<tr><td>Giant</td><td>Vandal</td><td>Aggressor</td><td>Malformed</td></tr>
<tr><td>God (Adonis)</td><td>Idol</td><td>Significator</td><td>Exposed</td></tr>
<tr><td>Gossip</td><td>Judge</td><td>Evader</td><td>Fear</td></tr>
<tr><td>Gryphon</td><td>Gladiator</td><td>Traveller</td><td>Offensive</td></tr>
<tr><td>Guide</td><td>Scout</td><td>Master</td><td>Impoverished</td></tr>
<tr><td>Healer</td><td>Healer</td><td>Barber</td><td>Lament</td></tr>
<tr><td>Hedonist</td><td>Sloth</td><td>Pretender(Rake)</td><td>Madness</td></tr>
<tr><td>Hero</td><td>Hero</td><td>Poser</td><td>Fear</td></tr>
<tr><td>Herald</td><td>Fanatic</td><td>Quiet</td><td>Doomed</td></tr>
<tr><td>Historian</td><td>Sleuth</td><td>Philosopher</td><td>Vague</td></tr>
<tr><td>Innocent</td><td>Hero</td><td>Prevailer</td><td>Fear</td></tr>
<tr><td>Journalist</td><td>Sleuth</td><td>Pretender(Scout/Sphinx/Idol)</td><td>Dependence</td></tr>
<tr><td>Judge</td><td>Judge</td><td>Dominator</td><td>Duty</td></tr>
<tr><td>King</td><td>Leader</td><td>Doctor</td><td>Duty</td></tr>
<tr><td>Knight</td><td>Hero</td><td>Pretender(Saint/Gladiator)</td><td>Devotion</td></tr>
<tr><td>Lawyer</td><td>Fiend</td><td>Pretender(judge)</td><td>Stagnation</td></tr>
<tr><td>Liberator</td><td>Fanatic</td><td>Prevailer</td><td>Paranoia</td></tr>
<tr><td>Lover</td><td>Healer</td><td>Joker</td><td>Lament/Devotion</td></tr>
<tr><td>Maiden</td><td>Shaman</td><td>Philosopher</td><td>Fatigued</td></tr>
<tr><td>Master</td><td>Leader</td><td>Master</td><td>Paranoia</td></tr>
<tr><td>Matyr</td><td>Fanatic</td><td>Pretender (Hero)</td><td>Madness</td></tr>
<tr><td>Mediator</td><td>Judge</td><td>Greeter</td><td>Fatigued</td></tr>
<tr><td>Mentor</td><td>Shaman</td><td>Philosopher(48*)</td><td>Vague</td></tr>
<tr><td>Mercenary</td><td>Beast</td><td>Pretender(Reaper)</td><td>Scarred</td></tr>
<tr><td>Messiah</td><td>Saint</td><td>Enhancer</td><td>Doubt</td></tr>
<tr><td>Minotaur</td><td>Hermit</td><td>Consumer</td><td>Confined</td></tr>
<tr><td>Miser</td><td>Hermit</td><td>Crafter</td><td>Confined</td></tr>
<tr><td>Monk/Nun</td><td>Saint</td><td>Pretender(mimic)</td><td>Impoverished</td></tr>
<tr><td>Mother</td><td>Healer</td><td>Master</td><td>Devotion</td></tr>
<tr><td>Mystic</td><td>Sphinx</td><td>Sensor</td><td>Loss of sense</td></tr>
<tr><td>Necromancer</td><td>Fiend</td><td>Doctor</td><td>Fear</td></tr>
<tr><td>Nerd</td><td>Fanatic</td><td>Consumer</td><td>Vulnerable</td></tr>
<tr><td>Ninja</td><td>Vandal</td><td>Meddler</td><td>Paranoia</td></tr>
<tr><td>Orc</td><td>Vandal</td><td>Pretender(mundane)</td><td>Offensive</td></tr>
<tr><td>Orphan</td><td>Hermit</td><td>Greeter</td><td>Lament</td></tr>
<tr><td>Paladin</td><td>Guard</td><td>Preacher</td><td>Duty</td></tr>
<tr><td>Phoenix</td><td>Healer</td><td>Evader</td><td>Exposed</td></tr>
<tr><td>Pick Pocket</td><td>Reaper</td><td>Enhancer</td><td>Persecuted</td></tr>
<tr><td>Pilot</td><td>Scout</td><td>Dominator</td><td>Fatigued</td></tr>
<tr><td>Pioneer</td><td>Hermit</td><td>Pretender(Mimic)</td><td>Stagnation</td></tr>
<tr><td>Pirate</td><td>Fiend</td><td>Pretender(rake/reaper)</td><td>Malformed</td></tr>
<tr><td>Poet</td><td>Smith</td><td>Pretender(Idol)</td><td>Loss of sense</td></tr>
<tr><td>Policeman</td><td>Sleuth</td><td>Pretender(Beast)</td><td>Duty/Offensive</td></tr>
<tr><td>Pop star</td><td>Idol</td><td>Enhancer</td><td>Exposed</td></tr>
<tr><td>Priest</td><td>Shaman</td><td>Worker</td><td>Confined</td></tr>
<tr><td>Prince</td><td>Leader</td><td>Dominator</td><td>Doubt</td></tr>
<tr><td>Professor</td><td>Sphinx</td><td>Philosopher</td><td>Vague</td></tr>
<tr><td>Prostitute</td><td>Reaper</td><td>Pretender(deviant)</td><td>Impoverished</td></tr>
<tr><td>Puer Eternis</td><td>Hermit</td><td>Poser</td><td>Doomed</td></tr>
<tr><td>Punk</td><td>Vandal</td><td>Pretender(fiend)</td><td>Exposed</td></tr>
<tr><td>Queen</td><td>Leader</td><td>Pretender(Healer)</td><td>Fatigued</td></tr>
<tr><td>Ragamuffin</td><td>Deviant</td><td>Pretender(Vandal)</td><td>Impoverished</td></tr>
<tr><td>Rebel</td><td>Deviant</td><td>Attacker</td><td>Fear</td></tr>
<tr><td>Rescuer</td><td>Hero</td><td>Traveller</td><td>Lament</td></tr>
<tr><td>Robot</td><td>Guard</td><td>Enhancer</td><td>Exposed/Persecuted</td></tr>
<tr><td>Rock star</td><td>Idol</td><td>Pretender(Deviant)</td><td>Exposed</td></tr>
<tr><td>Ruffian</td><td>Vandal</td><td>Aggressor</td><td>Impoverished</td></tr>
<tr><td>Saboteur</td><td>Vandal</td><td>Pretender(Hermit)</td><td>Madness</td></tr>
<tr><td>Samaritan</td><td>Healer</td><td>Greeter</td><td>Defensive/Devotion</td></tr>
<tr><td>Samurai</td><td>Hero</td><td>Crafter</td><td>Duty</td></tr>
<tr><td>Satyr</td><td>Rake</td><td>Sensor</td><td>Dependence</td></tr>
<tr><td>Scientist</td><td>Sleuth</td><td>Pretender(Scout/judge)</td><td>Fatigued</td></tr>
<tr><td>Scribe</td><td>Mimic</td><td>Wielder</td><td>Loss of sense</td></tr>
<tr><td>Seeker</td><td>Scout</td><td>Sensor</td><td>Doubt</td></tr>
<tr><td>Seelie Færy</td><td>Idol</td><td>Dominator</td><td>Vulnerable(iron)</td></tr>
<tr><td>Sergeant</td><td>Guard</td><td>Dominator</td><td>Offensive</td></tr>
<tr><td>Servant</td><td>Mundane</td><td>Worker</td><td>Impoverished</td></tr>
<tr><td>Settler</td><td>Mundane</td><td>Pretender(Scout)</td><td>Taboo</td></tr>
<tr><td>Shaman</td><td>Shaman</td><td>Meddler</td><td>Vague</td></tr>
<tr><td>Shapeshifter</td><td>Mimic</td><td>Cheater</td><td>Doomed</td></tr>
<tr><td>Slacker</td><td>Sloth</td><td>Consumer</td><td>Dependance</td></tr>
<tr><td>Slave</td><td>Sloth</td><td>Pretender(Hero)</td><td>Confined</td></tr>
<tr><td>Soldier</td><td>Gladiator</td><td>Wielder</td><td>Duty</td></tr>
<tr><td>Spiv</td><td>Reaper</td><td>Pretender(Idol)</td><td>Persecuted</td></tr>
<tr><td>Spy</td><td>Scout</td><td>Pretender(Rake/Sphinx)</td><td>Dependance</td></tr>
<tr><td>Storyteller</td><td>Idol</td><td>Joker</td><td>Loss of sense</td></tr>
<tr><td>Student</td><td>Sloth</td><td>Prevailer</td><td>Dependence</td></tr>
<tr><td>Super-hero</td><td>Hero</td><td>Pretender(Shaman)</td><td>Exposed / Lament</td></tr>
<tr><td>Swindler</td><td>Sphinx</td><td>Pretender(deviant)</td><td>Defensive</td></tr>
<tr><td>Teacher</td><td>Shaman</td><td>Pretender(Sphinx)</td><td>Impoverished / Defensive</td></tr>
<tr><td>Thief</td><td>Reaper</td><td>Master</td><td>Persecuted</td></tr>
<tr><td>Trickster</td><td>Fiend</td><td>Pretender(deviant/mimic)</td><td>Madness</td></tr>
<tr><td>Undead</td><td>Vandal</td><td>Attacker</td><td>Malformed</td></tr>
<tr><td>Unseelie Færy</td><td>Fiend</td><td>Meddler</td><td>Vulnerable(iron)</td></tr>
<tr><td>Vagabond</td><td>Scout</td><td>Traveller</td><td>Fear</td></tr>
<tr><td>Vampire</td><td>Hermit</td><td>Consumer</td><td>Dependence</td></tr>
<tr><td>Victim</td><td>Mundane</td><td>Philosopher(5*)</td><td>Persecuted</td></tr>
<tr><td>Virgin</td><td>Fanatic</td><td>Pretender(healer)</td><td>Defensive</td></tr>
<tr><td>Visionary</td><td>Scout</td><td>Sensor</td><td>Madness</td></tr>
<tr><td>Warlock</td><td>Hermit</td><td>Meddler</td><td>Taboo</td></tr>
<tr><td>Warlord</td><td>Leader</td><td>Attacker</td><td>Offensive</td></tr>
<tr><td>Warrior</td><td>Gladiator</td><td>Attacker</td><td>Scarred</td></tr>
<tr><td>Werewolf</td><td>Mundane</td><td>Philosopher(18*)</td><td>Vulnerable(silver)</td></tr>
<tr><td>Wise old person</td><td>Shaman</td><td>Pretender (Saint / fiend)</td><td>Stagnation</td></tr>
<tr><td>Witch</td><td>Healer</td><td>Traveller</td><td>Persecuted</td></tr>
<tr><td>Wizard</td><td>Judge</td><td>Wielder</td><td>Fatigued</td></tr>
<tr><td>Wyrm</td><td>Guard</td><td>Philosopher</td><td>Devotion</td></tr>
<tr><td>Zombie</td><td>Hermit</td><td>Consumer</td><td>Malformed</td></tr>
</tbody>
</table></body></html>